# Database Connection (MySQL)
DATABASE_URL="mysql://root:password@localhost:3306/cuti_pgtk"

# Authentication Secret (Used for session JWT signing)
AUTH_SECRET="dev_super_secret_auth_key_change_in_production_min_32_chars"

# App Environment
NODE_ENV="development"
